<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li>Name: Jia Bang Vuong</li></br>
                <li>Email: s3785886@student.rmit.edu.au</li>
            </ul>
        </nav>
    </div>
</header>